*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    color: #7f7f7f;
    text-decoration: none;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}
a:hover{
    color: #1abf87;
}
.breadcrumbs{
    position: absolute;
    top: 90px;
    left: 45px;
    z-index:2;
}
.breadcrumbs ul{
    list-style: none;
}
.breadcrumbs ul li{
    display: inline-block;  
    margin-right: 5px;    
    color: #7f7f7f;
}
.breadcrumbs ul li i{
    margin-left: 8px;
    font-size: 15px;
    color: #7f7f7f;
}
.breadcrumbs ul li:last-child i{
    display: none;
}


.landing__back-button{
    margin-bottom: 10px;
}


.create_post_form .landing__content__form-group.errors{
    padding: 20px;
    background-color:rgba(255, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 20px;
}
.create_post_form .landing__content__form-group.errors p{
    font-weight: 600;
    font-size: 15px;
}
.create_post_form .landing__content__form-group.errors ul{
    margin-left:20px;
    margin-bottom:0;
}

.navbar__menu__list li{
    margin-right: 18px;
}
.navbar__menu__list li.login, .navbar__menu__list li.logout{
    position: absolute;
    top: 22px;
    right: -98%;
}
.navbar--full .navbar__menu__list li.logout{
    top: 100px;
    right: 1%;
}
.navbar__menu__list li.logout{
    background-color: #fff;
    padding:10px;
    border-radius: 5px;
}
.navbar__menu__list li.logout ul li:first-child{
    margin-right:10px;
}
.navbar__menu__list li.login a, .navbar__menu__list li.login a:hover, .navbar__menu__list li.login a:focus{
    color: transparent;
}
.navbar__menu__list > li:nth-last-child(2){
    margin-right: 0;
}

.create_post_form .landing__content__form-group{
    max-width:80%;
    margin: 0 auto;
    text-align:left;
}
.create_post_form .landing__content__form-group .input{
    width:100%;
    font-family: Lato;
    font-size: 16px;
    line-height:20px;
    padding: 10px;
    border: 1px solid #bbb;
}
.create_post_form .landing__content__form-group .post_body{
    height: 20em;
}
.landing__content__form-group > *{
    display: block;
    margin-bottom: 20px;
}
.landing__content__form-group > label{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
}
.create_post_form .landing__content__form-group button{
    padding: 10px 10px;
    font-size: 16px;            
    font-family: Lato;
    color: #fff;
    background-color: #1abf87;
    border: 2px solid #1abf87;
    border-radius: 3px;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
}
.create_post_form .landing__content__form-group button i{
    margin-left: 10px;
    font-size: 14px;
}
.create_post_form .landing__content__form-group button:hover{
    background-color: transparent;
    color: #1abf87;
    cursor: pointer;
}
.landing__content__post_wrapper{
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 50px;
    padding-top:40px;
    padding-bottom: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.landing__content__post_wrapper .landing__content__title{
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    font-size: 36px;
    text-align:left;
}
.landing__content__post_wrapper .landing__content__post_info{
    text-align:right;
    margin-bottom:10px;
}
.landing__content__post_wrapper .landing__content__text{
    width: 100%;    
}
.landing__content__post_wrapper .landing__content__read_more{
    text-align: center;
    margin-top: 40px;
}
.landing__content__post_wrapper .landing__content__read_more a{
    display:block;
    margin-left:-51px;
    margin-right:-51px;
    padding: 20px;
    background: #1abf87;
    border: 3px solid #1abf87;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #fff;
    font-size: 18px;
}
.landing__content__post_wrapper .landing__content__read_more a:hover{
    background: transparent;
    color: #1abf87;
}
.landing__content__title a{
    color: initial;
}
.landing__content__title a:hover{
    color: #1abf87;
}
.about .landing__right_image{
    width: 100%;
    height:100vh;
    background-size: cover;  
}
.landing__admin-menu{
    text-align:left;
    font-size: 18px;
}
.landing__admin-menu ul{
    margin:20px;
    color: #7f7f7f;
}
.landing__admin-menu ul li:not(:last-child){
    margin-bottom:10px;
}

.landing__posts-table{
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}
.landing__posts-table thead{
    background: #1abf87;
    color: rgba(255,255,255,0.9);
}
table.landing__posts-table th, table.landing__posts-table td{
    text-align: left;
    padding: 8px;
    font-size: 18px;
    border: 1px solid #1abf87;
}