@media (max-width:1400px){
.player{
	position:absolute;
	bottom: 90px;
}
}
@media (min-width:751px){
#main-container{
	position:relative;
}
.player {
  position: fixed;
  bottom: 15px;
  left: 0;
  margin-bottom: auto;
  margin-left: 1%;
  display: -webkit-inline-box;
  display: inline-flex;
  background: #fff;
  padding: 2px 10px;
  border-radius: 20px;
  transition: 0.3s ease all;
}

.player-fixed{
	bottom: 90px !important;
}

.player:hover {
  text-decoration: underline;
  color: #1abf87;
}

.player__album {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: bottom;
  position: relative;
  min-height: 43px;
  max-height: 43px;
  min-width: 43px;
  margin-top: auto;
  margin-bottom: auto;
}

.player__album img {
  width: 43px;
}

.player__album::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}

.player__album i {
  position: absolute;
  left: 16px;
  top: 10px;
  font-size: 23px;
  color: white;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.player__album i:hover {
  color: rgba(255, 255, 255, 0.7);
}

.player__text {
  font-size: 16px;
  font-weight: 700;
  color: #1abf87;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 9px;
}

.player__track {
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  color: #2b2b2b;
}

.player__track__info {
  display: inline-block;
  margin-left: 13px;
}
}
@media (max-width: 750px){
#main-container, .player{
	display:none;
}
}